<body class="forgot_pass">
    <div class="errors_form">
        <%= form_with(url: forgot_password_path , method: "patch") do |f| %>
            <% if flash[:password_errors] %>
                <label class= "errors"><%= flash[:password_errors][0] %></label>
            <% end %> 
    </div>
    <div class="forgot_pass_form">
        <h1>Change password</h1>
            <br>
            <%= f.label "User Name" %><br> 
            <%= f.text_field :username , class: "input"%> 
            <br>
            <%= f.label "Your Security Question" %><br> 
            <%= f.select(:security_question, @security_questions) %> 
            <br>
            <%= f.label "Your Answer" %><br> 
            <%= f.text_field :security_answer , class: "input" %> 
            <br>
            <%= f.label "New Password" %><br> 
            <%= f.password_field :password , class: "input"%> 
            <br>
            <br>
            <%= f.submit "Update Password" , class: "button"%> 
        <% end %> 
        <br>
        <br>
        <%= button_to "Login", login_path, method: :get, class: "button" %> 
    </div>
</body>       