<body class="game_main_container">
    <br>
    <div class= "game_container">
        <label class= "info">Dealer</label class= "info">
        <br>
        <br>
        <div class= "game_card_img">
        <% @dealer_hand_cards.each_with_index do |hand_card,index| %> 
            <% if index < 4 %> 
                <div class= "cards imageOne">
                    <figure><img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>"></figure>
                    <% if index != 0 %> 
                        <% if @player_hand.active %>
                            <figure class="back"></figure>
                        <% else %> 
                            <figure class="back" style="animation: fade 1s; animation-fill-mode: forwards;"></figure>
                        <% end %> 
                    <% end %> 
                </div>
            <% else %> 
                <div class= "cards imageTwo">
                    <figure><img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>"></figure>
                    <% if index != 0 %> 
                        <% if @player_hand.active %>
                            <figure class="back"></figure>
                        <% else %> 
                            <figure class="back" style="animation: fade 1s; animation-fill-mode: forwards;"></figure>
                        <% end %> 
                    <% end %> 
                </div>
            <% end %> 
        <% end %>
        </div>
        <% if !@player_hand.active %>
            <div class= "game_details">
                <label class= "info">
                    <%= @game.hands(@player.find_value(@dealer_hand_cards.pluck(:card_id))).sum %> / 21
                </label>
            </div>
            <div class= "game_details">
                <%= button_to("Hit Me", dealer_hand_path(@dealer_hand), method: "patch", class: "btn")%>
            </div>
        <% end %> 
    </div>
    <% (0...4).to_a.each do |player| %> 
        <div class= "player_<%= player += 1 %>">
            <label class= "info">Player <%= player %></label>
            <br>
            <br>
            <div class= "game_card_img">
            <% @player_hand_cards.each_with_index do |hand_card,index| %>
                <% if index < 4 %>
                    <div class="cards imageOne">
                        <img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>">
                    </div> 
                <% else %> 
                    <div class="cards imageTwo">
                        <img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>">
                    </div> 
                <% end %> 
            <% end %>
            </div>
            <div class= "game_details">
                <label class= "info">
                    <%= @game.hands(@player.find_value(@player_hand_cards.pluck(:card_id))).sum %> / 21
                </label>
            </div>
            <div class= "game_details">
                <label class= "info">
                    <%= @player.bank %> $ 
                </label>
            </div>
            <div class= "game_details">
                <% if @player_hand.active %>
                    <%= button_to("Hit Me", player_hand_path(@player_hand), method: "patch")%>
                <% end %> 
            </div>
            <div class= "game_details">
                <% if @player_hand.active %>
                    <%= button_to("Stand", stand_path(@player_hand), method: "post")%>
                <% end %>
            </div>
        </div>
    <% end %> 
    <div class="bet_table_div">
        <h1>Playing Game <%= @game.id %></h1>
        <br>
        <table class= "bet_table ">
            <tr>
                <th>Minimum Bet</th>
                <th>Maximum Bet</th>
                <th>Player Bet</th>
            </tr>
            <tr>
                <td><%= @game.min_bet %></td>
                <td><%= @game.max_bet %></td>
                <td><%= @player_hand[:bet] %></td>
            </tr>
        </table>
    </div>
</body>