<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Playing Game <%= @game.id %></h1>
        <table>
            <tr>
                <th>Minimum Bet</th>
                <th>Maximum Bet</th>
            </tr>
            <tr>
                <td><%= @game.min_bet %></td>
                <td><%= @game.max_bet %></td>
            </tr>
        </table>
        <br>
        <div class= "game_container">
            <h4>Dealer</h4>
            <div class= "game_card_img">
            <% @dealer_hand_cards.each do |hand_card| %>
                <div class= "cards">
                    <figure><img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>"></figure>
                    <% if @player_hand.active %>
                        <figure class="back"></figure>
                    <% else %> 
                        <figure class="back" style="animation: fade 1s; animation-fill-mode: forwards;"></figure>
                    <% end %> 
                </div>
            <% end %>
            </div>
            <% if !@player_hand.active %> 
            <div class= "game_details">
                <label>
                    <%= @game.hands(@player.find_value(@dealer_hand_cards.pluck(:card_id))).sum %> / 21
                </label>
            </div>
            <div class= "game_details">
                <% if @dealer_hand.active %>
                    <%= button_to("Hit Me", dealer_hand_path(@dealer_hand), method: "patch", class: "btn")%>
                <% end %>
            </div>
        </div>
        <% end %>
        <div class= "game_container">
            <h4>Player 1</h4>
            <div class= "game_card_img">
            <% @player_hand_cards.each do |hand_card| %>
                <img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>">
            <% end %>
            </div>
            <div class= "game_details">
                <label>
                    <%= @game.hands(@player.find_value(@player_hand_cards.pluck(:card_id))).sum %> / 21
                </label>
            </div>
            <div class= "game_details">
                <% if @player_hand.active %>
                    <%= button_to("Hit Me", player_hand_path(@player_hand), method: "patch")%>
                <% end %> 
            </div>
            <div class= "game_details">
                <% if @player_hand.active %>
                    <%= button_to("Stand", stand_path(@player_hand), method: "post")%>
                <% end %>
            </div>
        </div>
    </body>
</html>
<!--onClick="window.location.reload();"-->