<body class="game_main_container">
    <head class="game_nav_header">
        <nav class= "game_nav">
            <ul class= "game_nav_links">
                <li>
                    <%= button_to "Back Show Page", player_path(session[:player_id]) ,method: "get", class: "game_nav_button"%>
                </li>
                <li>
                    <%= form_with url: "/logout", method: :delete do |f| %> 
                        <%= f.submit "Logout", class:"game_nav_button" %>
                    <% end %>
                </li>
            </ul>
        </nav>
    </head>
    <br>
    <div class= "dealer_contain">
        <label class= "info">Dealer</label class= "info">
        <br>
        <br>
        <div class= "game_card_img">
        <% @dealer_hand_cards.each_with_index do |hand_card,index| %> 
            <% if index < 4 %> 
                <div class= "cards imageOne">
                    <figure><img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>"></figure>
                    <% if index != 0 %> 
                        <% if @player_hand.active %>
                            <figure class="back"></figure>
                        <% else %> 
                            <figure class="back" style="animation: fade 1s; animation-fill-mode: forwards;"></figure>
                        <% end %> 
                    <% end %> 
                </div>
            <% else %> 
                <div class= "cards imageTwo">
                    <figure><img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>"></figure>
                    <% if index != 0 %> 
                        <% if @player_hand.active %>
                            <figure class="back"></figure>
                        <% else %> 
                            <figure class="back" style="animation: fade 1s; animation-fill-mode: forwards;"></figure>
                        <% end %> 
                    <% end %> 
                </div>
            <% end %> 
        <% end %>
        </div>
        <% if !@player_hand.active %>
            <div class= "game_details">
                <label>
                    <%= @dealer_hand.hand_value %> / 21
                </label>
            </div>
            <% if @dealer_hand.active %>
                <div class= "game_details">
                    <%= button_to("Hit Me", dealer_hand_path(@dealer_hand), method: "patch",class: "action_buton_in_game")%>
                </div>
            <% end %> 
        <% end %> 
    </div>
        <div class= "player_1">
            <label class= "info"><%= @player.username%></label>
            <br>
            <br>
            <div class= "game_card_img">
            <% @player_hand_cards.each_with_index do |hand_card,index| %>
                <% if index < 4 %>
                    <div class="cards imageOne">
                        <img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>">
                    </div> 
                <% else %> 
                    <div class="cards imageTwo">
                        <img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>">
                    </div> 
                <% end %> 
            <% end %>
            </div>
            <div class= "game_details">
                <label>
                    <%= @player_hand.hand_value %> / 21
                </label>
            </div>
            <div class= "game_details">
                <label class= "info">
                    $ <%= @player.bank %>
                </label>
            </div>
            <div class= "game_details">
                <% if @player_hand.active %>
                    <%= button_to("Hit Me", player_hand_path(@player_hand), method: "patch",class: "action_buton_in_game")%>
                <% end %> 
            </div>
            <div class= "game_details">
                <% if @player_hand.active %>
                    <%= button_to("Stand", stand_path(@player_hand), method: "post" ,class: "action_buton_in_game")%>
                <% end %>
            </div>
        </div>
    <div class="bet_table_div">
        <h1>Playing Game <%= @game.id %></h1>
        <table class= "bet_table ">
            <tr>
                <th>Minimum Bet</th>
                <th>Maximum Bet</th>
                <th>Player Bet</th> 
            </tr>
            <tr>
                <td><%= @game.min_bet %></td>
                <td><%= @game.max_bet %></td>
                <td><%= @player_hand[:bet] %></td>
            </tr>
 
            <% if !@dealer_hand.active && !@player_hand.active %>
                <label class = "<%= @player_hand.outcome.split(" ").join("_") %>"><%= @player_hand.outcome.upcase %></label><br>
                <%= form_with url: newgame_path, method: "post" do |f| %> 
                    <%= f.select(:bet, [10,15,20,25,30,35,40,45,50]) %>
                    <%= f.submit "New Game", class: "new_game_button"%>
                <% end %> 
            <% end %>
        </table>
    </div>
</body>

<!-- <%= button_to "New Game", newgame_path ,method: "post", class: "new_game_button"%> --> 