<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <h1>Playing Game <%= @game.id %></h1>
        <table>
            <tr>
                <th>Minimum Bet</th>
                <th>Maximum Bet</th>
            </tr>
            <tr>
                <td><%= @game.min_bet %></td>
                <td><%= @game.max_bet %></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th>Dealer</th>
                <% @dealer_hand_cards.each do |hand_card| %>
                    <td><img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>"></td>
                <% end %>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th><%= @player.name %></th>
                <% @player_hand_cards.each do |hand_card| %>
                    <td><img src="<%= hand_card.card[:image]%>" alt="<%= hand_card.card[:value]%> of <%= hand_card.card[:suit] %>"></td>
                <% end %>
            </tr>
        </table>
       <button onClick="window.location.reload();"><% @player_hand.deal_card %>Hit</button>
    </body>
</html>
<!--onClick="window.location.reload();"-->