<h1>New Game</h1>

<%= form_with model: @game do |f| %>
    <%= f.label :minimum_bet %>
    <%= f.number_field :min_bet %>
    <%= f.label :maximum_bet %>
    <%= f.number_field :max_bet %>
    <br>
    <br>
    <%= f.label :player %>
    <%= f.collection_select(:player_id, @players, :id, :name) %>
    <%= f.label :bet %>
    <%= f.number_field(:bet, in: 10..50, step: 5) %>
    <br>
    <br>
    <%= f.label :dealer %>
    <%= f.collection_select(:dealer_id, @dealers, :id, :name) %>
    <br>
    <br>
    <%= f.submit "Start Game" %>
<% end %>