<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-image: url("https://us.123rf.com/450wm/yamabikay/yamabikay1612/yamabikay161200085/69448418-poker-table-felt-background-high-resolution-photo-.jpg?ver=6");
                background-position: top;
                background-repeat: repeat;
            }
            table {
                border-collapse: collapse;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
        </style>
    </head>
    
    <body>
        <h1>Game number <%= @game.id %></h1>
    
        <table>
            <tr>
                <th>Minimum Bet</th>
                <th>Maximum Bet</th>
                <th>Outcome</th>
                <th>Bet</th>
                <th>Payout</th>
            </tr>
            <tr>
                <td><%= @game.min_bet %></td>
                <td><%= @game.max_bet %></td>
                <td><%= @player_hand.outcome %></td>
                <td><%= @player_hand.bet %></td>
                <td><%= @player_hand.payout %></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th>Dealer</th>
                <% @game.dealer_hand_cards.each do |hand_card| %>
                    <td><img src="<%= hand_card.card.image%>"></td>
                <% end %>
            </tr>               
            <tr>
                <th><%= @player.name %></th>
                <% @player_hand_cards.each do |hand_card| %>
                    <td><img src="<%= hand_card.card.image%>"></td>
                <% end %>
            </tr>
        </table>
    </body>
</html>