<h1><%= @player.name %> infor page</h1>
<label>Age</label><br>
<%= @player.age %> 
<br>
<label>Bank</label><br> 
<%= @player.bank %> 
<br>
<label>Games</label><br>
<table>
    <tr>
        <th>Player hands</th>
        <th>Dealer hands</th>
        <th>Win/Lose</th>
        <th>Bet Amount</th>
        <th>Winnings</th>
    </tr>
<% @player.cards.each do |card_ids| %> 
    <tr>
        <td><%= @player.find_card(card_ids[:player]) %></td>
        <td><%= @player.find_card(card_ids[:dealer]) %></td>
        <td><%= @player.win_lose(card_ids[:player],card_ids[:dealer])%></td>
        <td><%= card_ids[:bet] %></td>
        <td><%= @player.amount_won?(card_ids[:bet],@player.win_lose(card_ids[:player],card_ids[:dealer])) %></td>
    </tr>
<% end %> 
</table>
<br>
<%= button_to "Edit", edit_player_path ,method: :get %> 
<br>
<%= form_with url: "/logout", method: :delete do |f| %> 
    <%= f.submit "Logout" %>
<% end %> 


