<body class="player_show">
    <head class="player_nav_header">
        <nav class= "player_show_nav">
            <ul class= "nav_links">
                <li>
                    <%= button_to "Edit", edit_player_path ,method: :get, class: "nav_button"%>
                </li>
                <li>
                    <%= button_to "Play Game", newgame_path ,method: "post", class: "nav_button"%>
                </li>
                <li>
                    <%= form_with url: "/logout", method: :delete do |f| %> 
                        <%= f.submit "Logout", class:"nav_button" %>
                    <% end %>
                </li>
            </ul>
        </nav>
    </head>
    <br>
    <div class="player_info">
        <h1><%= @player.name %> info page</h1>
        <br>
        <div class= "player_info_content">
            <h4>Age:   <%= @player.age %></h4> 
        </div>
        <div class= "player_info_content">
            <h4>Bank:  $ <%= @player.bank %> </h4>
        </div>


        <br>
        <table class="player_table">
        <tr>
            <th>Game</th>
            <th>Player hand</th>
            <th>Dealer hand</th>
            <th>Outcome</th>
            <th>Bet</th>
            <th>Winnings</th>
        </tr>
        <% @player.player_hands.reverse.take(25).each do |hand| %>
            <tr>
                <td><%= hand.game_id %></td>
                <td class= "suit"><%= hand.cards.map{|card| card.written_name}.join("--") %></td>
                <td class= "suit"><%= hand.game.dealer_hand.cards.map{|card| card.written_name}.join("--") %></td>
                <td><%= hand.outcome %></td>
                <td><%= hand.bet %></td>
                <td><%= hand.payout %></td>
            </tr>
        <% end %>
        </tr>
    </table>
    </div>
</body>


