<div>
    <div class="player_content content_img"><%= image_tag("pokerimg.png") %></div> 
    <div class="player_content content_button"><%= button_to "Edit", edit_player_path ,method: :get, class: "button"%></div> 
    <div class="player_content content_button"><%= button_to "Play Game", newgame_path ,method: "post", class: "button"%></div> 
    <div class="player_content content_button "><%= form_with url: "/logout", method: :delete do |f| %> 
    <%= f.submit "Logout" ,class:"button" %>
<% end %></div>
</div> 
<div class="player_info">
        <h1><%= @player.name %> infor page</h1>
    <div class= "player_info_content">
        <label>Age</label>
        <%= @player.age %> 
    </div>
    <div class= "player_info_content">
        <label>Bank</label>
        <%= @player.bank %> 
    </div>
    <br>
    <label>Games</label><br>
    <table>
    <tr>
        <th>Game</th>
        <th>Player hand</th>
        <th>Dealer hand</th>
        <th>Outcome</th>
        <th>Bet</th>
        <th>Winnings</th>
    </tr>
    <% @player.player_hands.each do |hand| %>
        <tr>
            <td><%= hand.game_id %></td>
            <td><%= hand.cards.map{|card| card.written_name} %></td>
            <td><%= hand.game.dealer_hand.cards.map{|card| card.written_name} %></td>
            <td><%= "#{hand.hand_value} vs. #{hand.game.dealer_hand.hand_value}" %></td>
        </tr>
    <% end %>
    </tr>
</table>

</div> 




